body {
    line-height: 1.2;
    background-color: #A2C1C3;
    color: #2b2d42;
    font-family: 'PT Sans', sans-serif;
    margin: 0 auto;
    text-align: justify;
}

h1,
h2,
h3 {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    padding: 1%;
}

h2 {
    font-size: 1.5em;
    background-color: plum;
}

#initial {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
}

#initial div {
    width: 200px;
    height: 200px;
}

#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
}

#container div {
    width: 200px;
    height: 200px;
}

main {
    margin: 0 2%;
    /* Adds 1cm of space on the left and right sides */
    text-align: justify;
    width: calc(100vw - 2cm);
    /* Set the width to be the viewport width minus 2cm on each side */
}