body {
    line-height: 1.2;
    background-color: #A2C1C3;
    color: #2b2d42;
    font-family: 'PT Sans', sans-serif;
    text-align: justify;
}

h1,
h2,
h3 {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
    margin: 0 auto;
    width: 40%;
    padding: 1%;
}

h2 {
    font-size: 1.5em;
    background-color: plum;
}

#initial {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
}

#initial div {
    width: 200px;
    height: 200px;
}

#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#container div {
    width: 200px;
    height: 200px;
}

img {
    max-width: 500px;
    max-height: 500px;
    border: 1px dotted rebeccapurple;
}

main {
    /* Adds 1cm of space on the left and right sides */
    text-align: justify;
    /*Set the width to be the viewport width minus 2cm on each side*/
}

.con {
    color: #610000;
}

/*Used on codepen.io to check images incorporate okay
                    <img src="https://images.unsplash.com/photo-1666315209049-91e938e33c62?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2232&q=80" alt="flex-direction:row-reverse">
*/