body {
    line-height: 1.2;
    background-color: #A2C1C3;
    color: #2b2d42;
    font-family: 'PT Sans', sans-serif;
    text-align: justify;
}

h1,
h2,
h3 {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
    margin: 0 auto;
    width: 40%;
    padding: 1%;
}

h2 {
    background-color: #DDA0DD;
    font-size: 1.5em;
}

.header-navbar-color {
    background-color: #DDA0DD;
    color: #2b2d42;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2em;
}

nav.flexNavbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(221, 160, 221, 0.6);
}

nav.flexNavbar li {
    display: inline;
    margin: 0;
}

nav.flexNavbar ul {
    flex: 1;
    font-size: 1.2em;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    max-width: 90%;
}

@media (max-width:480px) {
    nav {
        flex-direction: row;
        align-items: center;
        background-color: none;
    }

    nav.flexNavbar {
        background-color: rgb(221, 160, 221, 0.0);
        border: 2px solid rgb(221, 160, 221, 0.8);
    }

    nav.flexNavbar ul {
        flex-direction: column;
        align-items: center;
    }
}