body {
    line-height: 1.2;
    background-color: #A2C1C3;
    color: #2b2d42;
    font-family: 'PT Sans', sans-serif;
    text-align: justify;
}

h1,
h2,
h3 {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    background-color: rgb(221, 160, 221);
}

h1 {
    font-weight: 100;
    text-align: center;
    margin: 0 auto;
    width: 40%;
    padding: 1%;
}

.specialHeader {
    display: flex;
    list-style-type: none;
    background-color: rgb(221, 160, 221, 0.33);
}

ul.specialHeader {
    flex: 1;
    max-width: 30%;
    display: flex;
    margin: 0;
    justify-content: space-between;
}

@media (max-width:480px) {
    nav {
        flex-direction: row;
        align-items: center;
        background-color: none;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        background-color: none;
    }
}