body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 6em;
    text-align: center;
}

nav {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}


ul,
li {
    display: inline;
    margin: 0;
    padding: 0;
}

ul {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width:480px) {
    h1 {
        color: purple;
    }
}

@media (min-width:481px) and (max-width:768px) {
    h1 {
        color: orange;
    }
}

@media(min-width:768px) {
    h1 {
        color: red;
    }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
    /*--- Mobile portrait ---*/
}

@media only screen and (min-width : 480px) and (max-width : 595px) {
    /*--- Mobile landscape ---*/
}

@media only screen and (min-width : 595px) and (max-width : 690px) {
    /*--- Small tablet portrait ---*/
}

@media only screen and (min-width : 690px) and (max-width : 800px) {
    /*--- Tablet portrait ---*/
}

@media only screen and (min-width : 800px) and (max-width : 1024px) {
    /*--- Small tablet landscape ---*/
}

@media only screen and (min-width : 1024px) and (max-width : 1224px) {
    /*--- Tablet landscape --- */
}