body {
    line-height: 1.2;
    background-color: #A2C1C3;
    color: #2b2d42;
    font-family: 'PT Sans', sans-serif;
    text-align: justify;
}

h1,
h2,
h3 {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 100;
    text-align: center;
    padding: 1%;
}


h2 {
    background-color: #DDA0DD;
    font-size: 1.5em;
}

#initial {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
}

#initial div {
    width: 200px;
    height: 200px;
}

#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#container div {
    width: 200px;
    height: 200px;
}

img {
    max-width: 100%;
    max-height: 500px;
    border: 1px dotted rebeccapurple;
}

main {
    text-align: justify;
}

.con {
    color: #610000;
}

#mainEx {
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
    height: 500px;
    display: flex;
}

div .sidebar {
    background-color: #6930c3;
    flex: 1 2 600px;
}

div .maincontent {
    background-color: #80ffdb;
    flex: 1 2 300px;
}

.header-navbar-color {
    background-color: #ADB2D3;
    color: #2b2d42;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2em;
}

/*Used on codepen.io to check images incorporate okay
                    <img src="https://images.unsplash.com/photo-1666315209049-91e938e33c62?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2232&q=80" alt="flex-direction:row-reverse">
*/