::selection {
    color: gold;
    background-color: red;
}

h2::selection {
    color: white;
    background-color: blue;
}

h2::first-letter {
    font-size: 1.6em;
}

h3::first-letter {
    font-size: 1.6em;
}

body {

    background-color: #A2C1C3;
    color: #2b2d42;
    font-family: 'PT Sans', sans-serif;
    margin: 0 auto;
}

button {
    color: aquamarine;
    font-size: 1.5em;
    background-color: rgb(134, 53, 92);
}

button:hover {
    background-color: #e63946;
    color: #f1faee;
}

h1,
h2,
h3 {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
}

h2 {
    color: blue;
    margin-bottom: 0;
}

h3 {
    font-size: 1.5em;
    background-color: plum;
}

input button {
    background-color: magenta;
}

.post a {
    color: pink;
}

.tag {
    background-color: #e63946;
    color: #f1faee;
    font-size: 16px;
}

main {
    width: 65%;
    margin: 0 auto;
}

body {
    line-height: 1.2;
    background-color: #A2C1C3;
    color: #2b2d42;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 100;
}

main {
    width: 65%;
    margin: 0 auto;
}