button {
    color: #92dce5;
    /*Change the text color, not the button color*/
    background-color: rgb(89, 151, 0);
}

h2 {
    color: teal;
    background-color: plum;
}

p {
    color: olive;
    /*Background does a lot more than just change the color (also does images and is more powerful*/
}