a {
    text-decoration: none;
}

body {
    line-height: 1.2;
    background-color: #A2C1C3;
    color: #2b2d42;
    font-family: 'PT Sans', sans-serif;
    margin: 0 auto;
    text-align: justify;
}

button {
    color: #92dce5;
    /*Change the text color, not the button color*/
    background-color: rgb(89, 151, 0);
}

h1 {
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
    font-weight: 400;
    text-decoration: red underline wavy;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    color: teal;
    background-color: plum;
    font-family: 'Open Sans', sans-serif;
}

main {
    width: 65%;
    margin: 0 auto;
}