::selection {
    color: gold;
    background-color: red;
}

h2::selection {
    color: white;
    background-color: blue;
}

h2::first-letter {
    font-size: 36px;
}

a {
    color: #457b9d;
}

body {
    line-height: 1.2;
    background-color: #A2C1C3;
    color: #2b2d42;
    font-family: 'PT Sans', sans-serif;
    margin: 0 auto;
}

button:hover {
    background-color: #e63946;
    color: #f1faee;
}

h1 {
    font-weight: 100;
    text-align: center;
    padding: 1%;
}

h2 {
    background-color: #DDA0DD;
    font-size: 1.5em;
}

.header-navbar-color {
    background-color: #ADB2D3;
    color: #2b2d42;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2em;
}

h2 {
    background-color: plum;
    font-family: 'Open Sans', sans-serif;
}

h2>button {
    background-color: magenta;
    font-size: 20px;
}

h3 {
    background-color: yellow;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
}

input button {
    background-color: magenta;
}

.post a {
    color: pink;
}

.tag {
    background-color: #e63946;
    color: #f1faee;
    font-size: 16px;
}

/*ID Selectors*/
#signup {
    background-color: #1d3557;
    color: #f1faee;
}

main {
    width: 65%;
    margin: 0 auto;
}

footer a {
    color: magenta;
}

footer>a {
    color: #457b9d;
}