body {
    background-color: #A2C1C3;
    color: #2b2d42;
    font-family: 'PT Sans', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'PT Sans', sans-serif;
}

section {
    width: 500px;
    height: 500px;
    background-color: magenta;
}

#rgba {
    background-color: rgba(255, 255, 255, 0.7);
    width: 50%;
    height: 50%;
}

#opacity {
    width: 50%;
    height: 50%;
    background-color: yellow;
    opacity: 0.5;
}