body {
    line-height: 1.2;
    background-color: #A2C1C3;
    color: #2b2d42;
    font-family: 'PT Sans', sans-serif;
    text-align: justify;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #151b29;
}

h2 {
    background-color: #DDA0DD;
    font-size: 1.5em;
}

.header-navbar-color {
    background-color: #DDA0DD;
    color: #2b2d42;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2em;
}

button {
    font-family: 'Roboto', sans-serif;
    background: none;
    color: #ffa260;
    border: 2px solid;
    padding: 1em 2em;
    /*1em top and bottom, 2em left and right*/
    font-size: 1em;
    /*Allows the button's font to scale up or down as necessary*/
}

button:hover {
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
    cursor: pointer;
}