body {
    background-color: #A2C1C3;
    color: #2b2d42;
    font-family: 'PT Sans', sans-serif;
}

li {
    margin-top: 5px;
}

ul li {
    margin: 0;
}


section {
    width: 80%;
    height: 800px;
    background: top/cover no-repeat url(../images/suarez.jpg);
    margin: 0 auto;
    /*Crops things*/
    /*
  Background - if background-size is not used would be comprise of 
  background-position:center;
  background-image: url(../images/suarez.jpg);
  background-size: cover;
  background-repeat:no-repeat;un
  */
}

section#multipleImages {
    background: center/40% no-repeat url(../images/suarez.jpg), url(https://images.unsplash.com/photo-1671303954963-f1e9b56f9ee2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2187&q=80);
}

h2 {
    font-size: 100px;
    color: blue;
}